@media (prefers-color-scheme: dark) {
        body {
                background-color: #1a1a1a;
                color: #ffffff;
        }
        pre {
                color: #333
        }
}

/* Tablet text size */
@media only screen and (max-width: 768px) {
        body {
                font-size: 18px;
        }
}

/* Small phone text size */
@media only screen and (max-width: 480px) {
        body {
                font-size: 20px;
        }
}
