a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
        body {
                background-color: #1a1a1a;
                color: #ffffff;
        }
        a {
          color:#acc8d7;
        }
        a:active {
          color:#446879;
        }
        a:hover {
          color:#c8dfea;
        }
}

/* Tablet text size */
@media only screen and (max-width: 768px) {
        body {
                font-size: 18px;
        }
}

/* Small phone text size */
@media only screen and (max-width: 480px) {
        body {
                font-size: 20px;
        }
}
